@media (max-width: 768px) {
  .home-about-us {
    display: flex;
    flex-direction: column;
  }

  .box-kelas {
    width: 90%;
  }

  .home-photo {
    width: 100%;
  }

  .home-about {
    width: 100%;
  }

  .box-tanggal {
    width: 80%;
  }

  .box-tanggal p {
    font-size: 1.2rem;
  }
}
